@use './colors.scss';
@use './_screens.scss';
@import './_mixins.scss';

html,
body, h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
    font-size: 18px;
}

body {
    background: colors.$very-light-gray;
}

* {
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

ul {
    list-style: none;
}

.app {
    margin: 0 auto;
    padding-top: 4.35em;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1440px;
    height: 800px;
    background: url('../images/bg-desktop-light.jpg') no-repeat;

    &__components-wrapper {
        display: flex;
        flex-direction: column;
        gap: 2.2em;
        width: 37.6%;
    }
}

@media screen and (width <= screens.$desktop) {
    .app {
        width: 100%;
    }
}

@media screen and (width <= screens.$mobile) {
    .app {
        background: url('../images/bg-mobile-light.jpg') no-repeat;
    }
}

.checkbox {
    @include checkbox;
}


.button {
    @include button;
}